@import-normalize;

body {
  color: #131315;
  background-color: #eef3f5;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.main-title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.secondary-title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 5px;
}

.divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.wrapper {
  padding: 20px 10px 0 10px;
}

.main-content {
  padding: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.content {
  margin-right: 20px;
  flex-grow: 3;
  padding: 5px 10px 5px 10px;
  background-color: white;
  -webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
.sidebar-container {
  padding: 20px;
  flex-grow: 0;
  background-color: white;
  -webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.form {
  display: flex;
  flex-flow: column nowrap;
}
.form .form-group {
  margin-bottom: 15px;
}
.form .form-group .form-control {
  display: block;
  margin-top: 5px;
}
.form-group button,
.button {
  margin-right: 5px;
}
.form__label {
  font-size: 1em;
}
.form__label_checkbox .form-checkbox {
  margin-left: 5px;
}
.form-control {
  font-size: 1em;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 5px 10px;
  font-size: 1em;
  transition: color 0.15s;
}
.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.button-primary {
  color: #ffffff;
  background-color: #800080;
  border-color: #800080;
}
.button-primary:hover {
  background-color: #a506a5;
  border-color: #a506a5;
}
.button-danger {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.button-danger:hover {
  background-color: #d45562;
  border-color: #d45562;
}

table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
.table thead th {
  border-bottom: 2px solid #dee2e6;
}
.table .thead-light th {
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.table td,
.table th {
  vertical-align: middle;
  padding: 15px;
  border-top: 1px solid #dee2e6;
}
.table td {
  text-align: center;
}
