@import-normalize;

body {
  color: #131315;
  background-color: #eef3f5;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
